// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.blog_wrap{
  border: 1px solid #000;
  margin-bottom: 20px;
}
.blog_body{
  margin-bottom: 20px;
}
