<div>
  <ul>
    <li><%= link_to "ユーザーの作成", new_user_path %></li>
    <li><%= link_to "ユーザー一覧", users_path %></li>
    <li><%= link_to "ブログの作成", new_blog_path %></li>
    <li><%= link_to "ブログ一覧", blogs_path %></li>
  </ul>
</div>
